In [162]:
import pandas as pd
import numpy as np

In [163]:
## Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
table = pd.read_csv('2017_jun_final.csv')
## Прочитайте отриману таблицю, використовуючи метод head
table.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [164]:
## Визначте розмір таблиці за допомогою методу shape
table.shape

(8704, 25)

In [165]:
## Визначте типи всіх стовпців за допомогою dataframe.dtypes
table.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [166]:
## Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
def show_fillness():
  for column in table.columns:
    null_cells = table[column].isnull().sum()
    total_cells = len(table[column])
    fillness = f'{round(null_cells / total_cells * 100, 2)}%'
    print(column, fillness)

show_fillness()

N 0.0%
Должность 0.0%
Язык.программирования 44.23%
Специализация 82.94%
Общий.опыт.работы 0.0%
Опыт.работы.на.текущем.месте 0.0%
Зарплата.в.месяц 0.0%
Изменение.зарплаты.за.12.месяцев 0.0%
Город 0.0%
Размер.компании 0.0%
Тип.компании 0.0%
Пол 0.0%
Возраст 0.0%
Образование 0.0%
Университет 4.11%
Еще.студент 0.0%
Уровень.английского 0.0%
Предметная.область 2.56%
Дата.заполнения 0.0%
User.Agent 0.0%
exp 0.0%
current_job_exp 0.0%
salary 0.0%
Валюта 99.89%
cls 18.08%

In [167]:
## Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
protected_column = table['Язык.программирования']
table = table.dropna(axis=1)
table = pd.concat([table, protected_column], axis=1)
## Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
show_fillness()

N 0.0%
Должность 0.0%
Общий.опыт.работы 0.0%
Опыт.работы.на.текущем.месте 0.0%
Зарплата.в.месяц 0.0%
Изменение.зарплаты.за.12.месяцев 0.0%
Город 0.0%
Размер.компании 0.0%
Тип.компании 0.0%
Пол 0.0%
Возраст 0.0%
Образование 0.0%
Еще.студент 0.0%
Уровень.английского 0.0%
Дата.заполнения 0.0%
User.Agent 0.0%
exp 0.0%
current_job_exp 0.0%
salary 0.0%
Язык.программирования 44.23%

In [168]:
## Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
table = table.dropna(axis=0)

show_fillness()

N 0.0%
Должность 0.0%
Общий.опыт.работы 0.0%
Опыт.работы.на.текущем.месте 0.0%
Зарплата.в.месяц 0.0%
Изменение.зарплаты.за.12.месяцев 0.0%
Город 0.0%
Размер.компании 0.0%
Тип.компании 0.0%
Пол 0.0%
Возраст 0.0%
Образование 0.0%
Еще.студент 0.0%
Уровень.английского 0.0%
Дата.заполнения 0.0%
User.Agent 0.0%
exp 0.0%
current_job_exp 0.0%
salary 0.0%
Язык.программирования 0.0%

In [169]:
## Визначте новий розмір таблиці за допомогою методу shape
table.shape

(4854, 20)

In [170]:
## Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = table.loc[table['Язык.программирования'] == 'Python']

python_data

,N,Должность,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Язык.программирования
12,13,Software Engineer,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,Python
68,69,Software Engineer,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,Python
87,88,Junior Software Engineer,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,Python
114,115,Junior Software Engineer,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,Python
143,144,Junior Software Engineer,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,5,1,2000,800,Запорожье,до 50 человек,Аутсорсинговая,мужской,22,Незаконченное высшее,False,средний,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000,Python
8625,8626,Software Engineer,4,1,1750,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,28,Среднее,False,средний,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750,Python
8635,8636,Senior Software Engineer,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,Стартап,мужской,33,Высшее,False,выше среднего,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000,Python
8673,8674,Junior Software Engineer,0.5,0.5,350,50,Киев,до 50 человек,Аутсорсинговая,мужской,22,Высшее,False,средний,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350,Python
8695,8696,Software Engineer,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,Python

In [171]:
## Визначте розмір таблиці python_data за допомогою методу shape
python_data.shape

(207, 20)

In [172]:
## Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
## Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
salary_extremums = python_data.groupby('Должность')['Зарплата.в.месяц'].agg(['min', 'max'])

salary_extremums

                           min   max
Должность
Junior Software Engineer   100  1250
Senior Software Engineer  1300  9200
Software Engineer          500  5400
System Architect          3000  5000
Technical Lead            1425  6200

In [173]:
## Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
avg_salary_per_position = python_data.groupby('Должность')['Зарплата.в.месяц'].agg([np.mean]).round()

def fill_avg_salary(row):
  current_position = row['Должность']
  return avg_salary_per_position.loc[current_position, 'mean']

python_data['avg.salary'] = python_data.apply(fill_avg_salary, axis=1).astype(int)

python_data

<ipython-input-173-fb7560bcb089>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  python_data['avg.salary'] = python_data.apply(fill_avg_salary, axis=1).astype(int)

,N,Должность,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,...,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Язык.программирования,avg.salary
12,13,Software Engineer,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,...,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,Python,1799
68,69,Software Engineer,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,...,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,Python,1799
87,88,Junior Software Engineer,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,...,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,Python,561
114,115,Junior Software Engineer,1.5,0.5,685,250,Киев,до 1000 человек,Аутсорсинговая,мужской,...,Незаконченное высшее,False,средний,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,Python,561
143,144,Junior Software Engineer,1,1,750,250,Киев,до 10 человек,Аутсорсинговая,мужской,...,Незаконченное высшее,True,выше среднего,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,Python,561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,5,1,2000,800,Запорожье,до 50 человек,Аутсорсинговая,мужской,...,Незаконченное высшее,False,средний,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000,Python,1799
8625,8626,Software Engineer,4,1,1750,0,Киев,свыше 1000 человек,Аутсорсинговая,мужской,...,Среднее,False,средний,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750,Python,1799
8635,8636,Senior Software Engineer,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,Стартап,мужской,...,Высшее,False,выше среднего,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000,Python,3387
8673,8674,Junior Software Engineer,0.5,0.5,350,50,Киев,до 50 человек,Аутсорсинговая,мужской,...,Высшее,False,средний,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350,Python,561
8695,8696,Software Engineer,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,...,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,Python,1799

In [174]:
## Створіть описову статистику за допомогою методу describe для нового стовпчика.

description = python_data['avg.salary'].describe()

description

count     207.000000
mean     1753.942029
std       996.485965
min       561.000000
25%       561.000000
50%      1799.000000
75%      1799.000000
max      4000.000000
Name: avg.salary, dtype: float64

In [175]:
## Збережіть отриману таблицю в CSV файл
python_data.to_csv('2017_jun_final_cleaned.csv')